* {
  overflow: hidden;
}
body {
  background: #f9f6f4;
}
.bgbody {
  display: flex;
  width: 100%;
  background: #f9f6f4;
  height: 100vh;
}
.search-container {
  width: 437px;
  padding: 5px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ede6e6;
  border-radius: 12px;
}
.search-container input {
  border: none;
  outline: none;
  background-color: #ede6e6;
  width: 361px;
  padding: 5px 16px;
}
.search-container i {
  float: right;
  background-color: #ede6e6;
  width: 28px;
  height: 28px;
  font-size: 20px;

  margin-right: 7px;
}
.inputseach::placeholder {
  font-style: italic;
}
.notify {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}
.notify img {
  width: 48px;
  height: 48px;
  border-radius: 30px;
  float: right;
}

.notify i {
  width: 30px;
  height: 30px;
  float: right;
  font-size: 20px;
  margin-top: 7px;
  margin-right: 8px;
  align-items: center;
  font-weight: bold;
}

.navtop {
  justify-content: space-between;
  display: flex;
  align-items: center;
  width:o auto;
  margin-right: 16px;
  margin-left: 40px;
  margin-top: 17px;
}

.themve .btn-xuatfile{
  background-color: transparent;
  padding: 11px 16px;
  justify-content: center;
  align-items: center;
  outline: none;
  border: 1px solid var(--yellow-1, #ff993c);
  width: auto;
  float: right;
  margin-left: 10px;
  font-family: "Montserrat", sans-serif;
  border-radius: 6px;
  color: #ff993c;
  font-weight: 700;
}
.themve .btn-themgoive{
  background-color: #FF993C;
  padding: 11px 16px;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  width: auto;
  float: right;
  margin-left: 10px;
  font-family: "Montserrat", sans-serif;
  border-radius: 6px;
  color: #FFFFFF;
  font-weight: 700;
}

.labelDoanhthu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.labelDoanhthu span{
  font-weight: 700;
}
.chart1{
  margin-bottom: 15px;
}
.chart2{
  height: 230px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

}
.mota button{
  outline: none;
  border: none;
  padding: 10px 20px;
}
.mota button:nth-child(1){
  background-color:rgb(255, 138, 72);
}
.mota button{
  background-color:rgb(54, 162, 235);
}
.chartGiadinh , .chartSukien{
  text-align: center;
}
.tinhtrangdoisoat{
  display: flex;
  gap: 20px;
}
.tinhtrangdoisoat span{
  font-family: "Montserrat", sans-serif;
}
.tinhtrangdoisoat input{
  width: 17px;
  height: 17px;
}
.tinhtrangdoisoat div{
  align-items: center;

}